  $color-primary-100: #E3FBDF;
  $color-primary-200: #C2F8C0;
  $color-primary-300: #9BEB9F;
  $color-primary-400: #7BD789;
  $color-primary-500: #52BD6C;
  $color-primary-600: #3BA25E;
  $color-primary-700: #298852;
  $color-primary-800: #1A6D46;
  $color-primary-900: #0F5A3E;
  $color-success-100: #E9FBD7;
  $color-success-200: #D0F8B1;
  $color-success-300: #AAEA85;
  $color-success-400: #84D563;
  $color-success-500: #52BA35;
  $color-success-600: #389F26;
  $color-success-700: #22851A;
  $color-success-800: #106B11;
  $color-success-900: #0A5910;
  $color-info-100: #C9F7FB;
  $color-info-200: #95EAF8;
  $color-info-300: #5ECEEB;
  $color-info-400: #36ACD8;
  $color-info-500: #007FBF;
  $color-info-600: #0062A4;
  $color-info-700: #004989;
  $color-info-800: #00346E;
  $color-info-900: #00255B;
  $color-warning-100: #FEF4CC;
  $color-warning-200: #FEE799;
  $color-warning-300: #FED666;
  $color-warning-400: #FDC540;
  $color-warning-500: #FCA902;
  $color-warning-600: #D88901;
  $color-warning-700: #B56D01;
  $color-warning-800: #925200;
  $color-warning-900: #784000;
  $color-danger-100: #FFE6D5;
  $color-danger-200: #FFC6AB;
  $color-danger-300: #FFA081;
  $color-danger-400: #FF7B61;
  $color-danger-500: #FF3F2D;
  $color-danger-600: #DB2120;
  $color-danger-700: #B71623;
  $color-danger-800: #930E23;
  $color-danger-900: #7A0824;

  $gray-100: #ECF4F4;
  $gray-200: #DBEAEA;
  $gray-300: #AFC1C2;
  $gray-400: #758386;
  $gray-500: #2D3436;
  $gray-600: #202A2E;
  $gray-700: #162026;
  $gray-800: #0E171F;
  $gray-900: #081119;

  $white: #FFFFFF;
  $text-color: #CFCFCF;





